/*Hover Positioning*/
.hover-positon{
  padding:  1.2rem;
  position:  absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transform: translateY(-2px);
}

/*Button*/
.btn {
  font-family:  'Open Sans', sans-serif;
  font-weight:  400;
  cursor:  pointer;
  transition: transform 0.3s ease;
/*  position: absolute;
  top: 35%;
  left: 45%;*/
  border-radius:  3px;
  padding: 8px 16px;
  margin-right: 0.5rem ;
/*  display: none;
*/}

.btn:hover {
  transform:  translateY(-3px);
}

/*Button Colors and styles*/

.btn--edit {
  background-color: transparent;
  border: 1px solid white;
  color:  white;
  text-align: center;
}

.btn--delete {
  background-color: white;
  border: 1px solid black;
  color:  black;
  border-radius:  3px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;

}

.btn--report {
  display:  inline-block;
  background-color: purple;
  border: 1px solid purple;
  color:  white;
  border-radius:  3px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
}

/*ready Cards => hover effect*/
.ready:hover img {
  filter: brightness(0.5);
}
.ready:hover .btn--edit {
  display: inline-block;
}
/*Transsribing cards => Hover Effect*/

.transcribing {
  position: relative;
}

.transcribing-text {
  opacity: 0;
  position:  absolute;
  top: 35%;
  left: 35%;
}

.transcribing-text--active{
  opacity: 1;
}


.transcribing:hover img {
  opacity: 0.5;
  filter: blur(1px);
}

/*Error Cards => Hover Effect*/
.error {
  position: relative;
}

.error-text {
  opacity: 0;
}

.error-text--active{
  opacity: 1;
}

.error:hover img {
  visibility: hidden;
  background-color:  pink;
  filter: blur(1px);
}
